#img1 {
  padding-top: 50px;
  padding-left: 50px;
}
#nav-logo {
  background-color: #699e63;
}
#header-logo {
  background-color: #699e63;
}

#navbar-color {
  background-color: #598554;
}
#cont-img {
  padding-top: 20px;
  padding-bottom: 10px;
}
header {
  background-color: 699e63;
}

.banner img {
  max-height: 200px;
  object-fit: cover;
}

.welcome-section h2 {
  color: #879325;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.container {
  max-width: 1000px;
}

.bg-light {
  background-color: #f1f4d4 !important;
}

.bg-success {
  background-color: #879325;
}
